<div class="container" *ngIf="car != undefined">
  <div class="row justify-content center">
    <div class="card-body bg-light mt-5">
      <h1>Update Car</h1>
      <hr />
      <h5>
        <strong>Make:</strong>
        {{ car.MAKE.S[0].toUpperCase() + make.slice(1) }}
      </h5>
      <h5><strong>ID:</strong> {{ car.CAR_ID.N }}</h5>

      <form
        style="clear: both"
        class="mt-3"
        [formGroup]="editForm"
        (ngSubmit)="onSubmit()"
      >
        <div class="form-group col-12">
          <label for="inputModel">Model</label>
          <input class="form-control" type="text" formControlName="model" />
        </div>

        <div class="form-group col-12">
          <label for="inputYear">Year</label>
          <input class="form-control" type="text" formControlName="year" />
        </div>

        <div class="form-group">
          <button class="btn btn-dark btn-lg btn-block" type="submit">
            Update
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
