<div class="container">
  <div class="row justify-content center">
    <div class="card-body bg-light mt-5">
      <h1>Add Car to Inventory</h1>
      <hr />
      <form class="mt-3" [formGroup]="carForm" (ngSubmit)="onSubmit()">
        <div class="form-group col-12">
          <label for="inputMake">Make</label>
          <input class="form-control" type="text" formControlName="make" />
          <div
            class="alert-sm alert-danger mb-1"
            *ngIf="submitted && myForm.make.errors?.required"
          >
            Make is required
          </div>
        </div>
        <div class="form-group col-12">
          <label for="inputModel">Model</label>
          <input class="form-control" type="text" formControlName="model" />
          <div
            class="alert-sm alert-danger mb-1"
            *ngIf="submitted && myForm.model.errors?.required"
          >
            Model is required
          </div>
        </div>
        <div class="form-group col-12 mb-4">
          <label for="inputYear">Year</label>
          <input class="form-control" type="text" formControlName="year" />
          <div
            class="alert-sm alert-danger mb-1"
            *ngIf="submitted && myForm.year.errors?.required"
          >
            Year is required
          </div>
          <div
            class="alert-sm alert-danger mb-1"
            *ngIf="submitted && myForm.year.errors?.pattern"
          >
            Enter Valid format for year: YYYY
          </div>
        </div>
        <hr />
        <div class="form-group">
          <button class="btn btn-dark btn-lg btn-block" type="submit">
            Create
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
