<h1>Inventory</h1>
<div *ngIf="cars == 'No cars in inventory'; else elseBlock">
  <h3>No Cars in Inventory...</h3>
</div>

<ng-template #elseBlock>
  <div class="search-car">
    <input
      class="form-control"
      type="text"
      name="search"
      [(ngModel)]="searchText"
      autocomplete="off"
      placeholder="Start searching for a car by id, make or model"
    />
  </div>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Car ID</th>
        <th scope="col">Make</th>
        <th scope="col">Model</th>
        <th scope="col">Year</th>
        <th scope="col">Options</th>
      </tr>
    </thead>
    <tbody *ngFor="let car of cars | filter: searchText">
      <tr>
        <th scope="row">{{ car.CAR_ID.N }}</th>
        <td>{{ car.MAKE.S.toUpperCase() }}</td>
        <td>{{ car.MODEL === undefined ? "" : car.MODEL.S.toUpperCase() }}</td>
        <td>{{ car.YEAR === undefined ? "" : car.YEAR.N }}</td>
        <td>
          <a
            [routerLinkActive]="['active']"
            [routerLink]="['/edit', car.MAKE.S, car.CAR_ID.N]"
            class="button fancy-button"
            >Edit</a
          >
          <a
            class="button fancy-button"
            (click)="deleteCar(car.MAKE.S, car.CAR_ID.N)"
            >Delete</a
          >
        </td>
      </tr>
      <!-- <tr>
        <th scope="row">1</th>
        <td>Honda</td>
        <td>Civic</td>
        <td>2003</td>
        <td>
          <button class="btn btn-sm">Edit</button>
          <button class="btn btn-sm">Delete</button>
        </td>
      </tr>
  
      <tr>
        <th scope="row">1</th>
        <td>Honda</td>
        <td>Civic</td>
        <td>2003</td>
        <td>
          <button class="btn btn-sm btn-dark">Edit</button>
          <button class="btn btn-sm btn-dark">Delete</button>
        </td>
      </tr> -->
    </tbody>
  </table>
</ng-template>
