h1,
h3 {
  text-align: center;
  color: black;
}

h1 {
  font-size: 60px;
}

h3 {
  font-size: 210px;
}

.table {
  width: 50vw;
  text-align: center;
  margin: 0 auto;
  font-size: large;
}

td button {
  margin: 3px;
}

.search-car {
  text-align: center;
  margin: 0 auto;
  width: 50%;
}
