<a [routerLink]="['/']">
  <h1>MCS Inventory Manager</h1>
</a>

<div id="links">
  <a
    [routerLinkActive]="['active']"
    [routerLink]="['/create']"
    class="button fancy-button"
    ><i class="material-icons">add_box</i>Add Car</a
  >
  <a
    [routerLinkActive]="['active']"
    [routerLink]="['/']"
    class="button fancy-button"
    ><i class="material-icons">view_comfy</i>View Cars</a
  >
</div>
